.Button {
  all: unset;
  box-sizing: border-box;
  background-color: white;
  background-clip: padding-box;
  box-shadow: 0 1px 1px hsl(229 50% 10% / 5%), 0 1px 3px hsl(229 50% 10% / 1.5%);
  border: 1px solid var(--neutral-a5);
  font-family: untitled sans;
  color: var(--neutral-12);
  font-weight: 500;
  height: 32px;
  vertical-align: middle;
  border-radius: 6px;
  padding-left: 12px;
  padding-right: 12px;
  font-size: 14px;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  flex-shrink: 0;
  user-select: none;
}

.Button:hover {
  border-color: var(--neutral-a7);
  box-shadow: 0 1px 2px hsl(229 50% 10% / 6%), 0 1px 3px hsl(229 50% 10% / 3%);
}

.Button:active,
.Button.Mui-expanded {
  background-color: var(--neutral-a1);
  border-color: var(--neutral-a7);
  box-shadow: none;
}

.Button:focus-visible {
  outline: 2px solid var(--neutral-a8);
  outline-offset: 2px;
}

.Button:disabled {
  background-color: var(--neutral-1);
  color: var(--neutral-8);
  cursor: not-allowed;
  box-shadow: none;
  border-color: var(--neutral-a5);
}