.NumberFieldScrubber {
  cursor: ew-resize;
}

.NumberFieldGroup {
  display: flex;
  align-items: center;
}

.NumberFieldGroup:focus-within {
  outline: 2px solid var(--neutral-a12);
  outline-offset: 2px;
  border-radius: 6px;
}