.TabsTab {
  all: unset;
  box-sizing: border-box;
  background-color: white;
  background-clip: padding-box;
  box-shadow: 0 1px 1px hsl(229 50% 10% / 5%), 0 1px 3px hsl(229 50% 10% / 1.5%);
  border: 1px solid var(--neutral-a5);
  font-family: untitled sans;
  color: var(--neutral-12);
  font-weight: 500;
  height: 32px;
  vertical-align: middle;
  border-radius: 6px;
  padding-left: 12px;
  padding-right: 12px;
  font-size: 14px;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  flex-shrink: 0;
  user-select: none;
}

.TabsIndicator {
  position: absolute;
  inset: var(--active-tab-top) var(--active-tab-right) var(--active-tab-bottom) var(--active-tab-left);
  background: #004C99;
  border-radius: 8px;
  z-index: 0;
  box-shadow: 0 0 0 0 #80BFFF;
  outline-width: 0;
  transition: left calc(0.3s + var(--active-tab-movement-forwards)* 0.3s) calc(var(--active-tab-movement-forwards)* 0.1s), right calc(0.3s + var(--active-tab-movement-backwards)* 0.3s) calc(var(--active-tab-movement-backwards)* 0.1s), top 0.3s, bottom 0.3s, box-shadow 0.2s;
}