.DropdownMenu-listbox {
  box-sizing: border-box;
  padding: 6px;
  margin: 12px 0;
  min-width: 200px;
  border-radius: 12px;
  overflow: auto;
  outline: 0px;
  background: white;
  color: black;
  box-shadow:
    0 0 0 1px var(--neutral-a3),
    0 4px 12px 0 var(--neutral-a3),
    0 12px 48px -4px var(--neutral-a3),
    0 24px 64px -8px var(--neutral-a3);
}

.DropdownMenu-item {
  all: unset;
  display: flex;
  align-items: center;
  height: 32px;
  list-style: none;
  box-sizing: border-box;
  font-family: untitled sans;
  font-size: 14px;
  padding-left: 12px;
  padding-right: 12px;
  border-radius: 6px;
  user-select: none;
  color: var(--neutral-12);
}

.DropdownMenu-item.Mui-focusVisible {
  background-color: var(--neutral-12);
  color: white;
}