.SwitchRoot {
  font-size: 0;
  position: relative;
  display: inline-flex;
  box-sizing: border-box;
  align-items: center;
  width: 44px;
  height: 24px;
  vertical-align: middle;
}

.SwitchTrack {
  box-sizing: border-box;
  background-color: var(--neutral-3);
  border-radius: 9999px;
  height: 100%;
  width: 100%;
  position: absolute;
  box-shadow: inset 0 0 0 1px var(--neutral-a5);
  transition-property: background-color;
  transition-timing-function: cubic-bezier(0.22, 1, 0.36, 1);
  transition-duration: 225ms;
}

.SwitchThumb {
  box-sizing: border-box;
  box-shadow: 0 0 1px 1px var(--neutral-a4), 0 1px 2px var(--neutral-a3), 0 2px 4px -1px var(--neutral-a3);
  background-clip: padding-box;
  width: 22px;
  height: 22px;
  left: 1px;
  border-radius: 50%;
  background-color: #fff;
  position: relative;
  will-change: transform;
  transition-property: transform;
  transition-timing-function: cubic-bezier(0.22, 1, 0.36, 1);
  transition-duration: 225ms;
}

.SwitchInput {
  cursor: inherit;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0;
  z-index: 1;
  margin: 0;
}

.SwitchRoot.Mui-focusVisible .SwitchTrack {
  outline: 2px solid var(--neutral-12);
  outline-offset: 2px;
}

.SwitchRoot.Mui-checked .SwitchTrack {
  background-color: var(--neutral-12);
}

.SwitchRoot.Mui-checked .SwitchThumb {
  transform: translateX(calc(100% - 2px));
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.3);
}