.Textarea {
  all: unset;
  background-color: purple;
  min-height: 80px;
  max-height: 200px;
  font-size: 14px;
  font-family: untitled sans;
  color: var(--neutral-12);
  background-color: white;
  border-radius: 6px;
  background-clip: padding-box;
  box-sizing: border-box;
  border: 1px solid var(--neutral-a5);
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  display: block;
  width: 100%;
  flex-grow: 1;
  padding: 6px 12px;
  line-height: 20px;
  box-shadow: inset 0 1px 2px 0 var(--neutral-a3);
}